* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #e3f2fd;

    transition: background 0.5s ease;
}


/* Kontener aplikacji */

.container {
    width: 90%;
    max-width: 500px;
}


/* Nagłówek */

h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 25px;
}


/* Przyciski jednostek */

.units {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}


/* Formularz */

form {
    background: white;

    padding: 25px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


label {
    font-weight: bold;
}


input {
    padding: 14px;

    border-radius: 10px;

    border: 1px solid #ccc;

    font-size: 1rem;
}

button {
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}


/* małe przyciski C/F */

.units {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
}


.unit-btn {

    width: 45px;
    height: 35px;

    border-radius: 20px;

    background: rgba(255,255,255,0.8);

    color: #1976d2;

    font-weight: bold;

    font-size: 0.9rem;

    border: 1px solid #1976d2;
}


.unit-btn:hover {

    background: #1976d2;

    color: white;

}


/* główny przycisk */

.search-btn {

    width: 100%;

    padding: 12px;

    border-radius: 12px;

    background: #1976d2;

    color: white;

    font-size: 1rem;

    font-weight: bold;

}


.search-btn:hover {

    background: #1565c0;

    transform: translateY(-2px);

}

button:hover {
    opacity: 0.85;
    transform: scale(1.03);
}


/* Komunikaty */

#message {
    text-align: center;

    color: white;

    font-weight: bold;

    min-height: 25px;
}


/* Karta pogody */

.info-weather {

    margin-top: 25px;

    background: rgba(255,255,255,0.9);

    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);

}


.info-weather p {

    margin: 12px 0;

    font-size: 1.1rem;

}


#weather-icon {

    display: block;

    margin: 0 auto 15px;

    width: 80px;

}


/* Tła zależne od pogody */

.sunny {
    background: linear-gradient(#56ccf2, #f2fcfe);
}


.cloudy {
    background: linear-gradient(#bdc3c7, #2c3e50);
}


.rain {
    background: linear-gradient(#4b79a1, #283e51);
}


.snow {
    background: linear-gradient(#e6dada, #274046);
}


.default {
    background: #e3f2fd;
}